@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  ::-webkit-scrollbar {
      width: 10px;
      /* Width of the scrollbar */
    }
  
    ::-webkit-scrollbar-track {
      background: #000000;
      /* Color of the track */
    }
  
    ::-webkit-scrollbar-thumb {
      background: #7E12C3;
      /* Color of the scrollbar handle */
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
      /* Color of the scrollbar handle on hover */
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-image: url('/images/grid.png');
    background-repeat: repeat-y;
    /* Repeat only vertically */
    background-size: cover;
    background-attachment: fixed;
    /* Adjust size as needed */
    height: 100vh;
    /* Example height */
    width: 100%;
    /* Example width */
    background-color: black;
    background-position: center;
}

.background-grid {
  background: linear-gradient(to bottom,
        #000000 0%,
        #380857 52%,
        #4D0B78 73%,
        #6D0EAA 100%), url('/images/grid.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
}

.background-menu-vector-1 {
  background: url('/images/menuVector1.png');
  background-size: cover;
  background-position: right;
}

.background-menu-vector-2 {
  background: url('/images/menuVector2.png');
  background-size: cover;
  background-position: left;
}

.heading{
  @apply md:text-[32px] text-[20px] font-medium
}

.subtitle {
  @apply md:text-[20px] text-[10px] font-medium
}

.text {
  @apply md:text-[16px] text-[10px] font-medium
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
